<div id="carousel-home" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="http://lorempixel.com/900/500/sports" alt="lalal">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <img src="http://lorempixel.com/900/500/animals" alt="lalal">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <img src="http://lorempixel.com/900/500/nature" alt="lalal">
            <div class="carousel-caption">
            </div>
        </div>
    </div>
</div>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div id="about-us" class="jumbotron">
    <div class="container text-center">
        <h2>About us</h2>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the</p>
    </div>
</div>

<div id="core-values" class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4  text-center">
            <div class="topic-logo"><img src="../images/dist/ecology.png"></div>
            <h3>Ecology</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
        <div class="col-md-4 text-center">
            <div class="topic-logo"><img src="../images/dist/knowledge.png"></div>
            <h3>Knowledge</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
        <div class="col-md-4 text-center">
            <div class="topic-logo"><img src="../images/dist/economy.png"></div>
            <h3>Economy</h3>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
    </div>
</div> <!-- /container -->
<br>
<br>

<div id="rated-books" class="container">
    <h2 class="text-center">Books</h2>
    <!-- Example row of columns -->
    <div class="row">
        <div class="book item col-md-3 col-xs-6 text-center">
            <a href="#"><img src="http://lorempixel.com/250/375/nature" alt="lalal"></a>
        </div>
        <div class="book item col-md-3 col-xs-6 text-center">
            <a href="#"><img src="http://lorempixel.com/250/375/animals" alt="lalal"></a>
        </div>
        <div class="book item col-md-3 col-xs-6 text-center">
            <a href="#"><img src="http://lorempixel.com/250/375/sports" alt="lalal"></a>
        </div>
        <div class="book item col-md-3 col-xs-6 text-center">
            <a href="#"><img src="http://lorempixel.com/250/375/" alt="lalal"></a>
        </div>
    </div>
    <br>
    <div class="clearfix visible-xs-block"></div>
    <div class="row">
        <div class="book item col-md-3 col-xs-6 text-center">
            <a href="#"><img src="http://lorempixel.com/250/375/" alt="lalal"></a>
        </div>
        <div class="book item col-md-3 col-xs-6 text-center">
            <a href="#"><img src="http://lorempixel.com/250/375/animals" alt="lalal"></a>
        </div>
        <div class="book item col-md-3 col-xs-6 text-center">
            <a href="#"><img src="http://lorempixel.com/250/375/nature" alt="lalal"></a>
        </div>
        <div class="book item col-md-3 col-xs-6 text-center">
            <a href="#"><img src="http://lorempixel.com/250/375/sports" alt="lalal"></a>
        </div>
    </div>
    <br>
    <div class="row text-right">
        <p><a class="btn btn-default blue-button" href="#" role="button">more books</a></p>
    </div>
    <br>
</div><!-- #rated-books -->

<div id="testimonials">
    <div class="container">
        <div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-testimonials" data-slide-to="1"></li>
                <li data-target="#carousel-testimonials" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="user-picture">
                        <div class="testimonial-quotes">
                            <img src="../images/dist/testimonial-quotes.png">
                        </div>
                        <img src="http://lorempixel.com/250/250/people" class="img-circle">
                    </div>
                    <div class="carousel-caption">
                        <p class="text-left">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto</p>
                        <span class="text-right">@enzolutions</span>
                    </div>
                </div>
                <div class="item">
                    <div class="user-picture">
                        <div class="testimonial-quotes">
                            <img src="../images/dist/testimonial-quotes.png">
                        </div>
                        <img src="http://lorempixel.com/250/250/nature" class="img-circle">
                    </div>
                    <div class="carousel-caption">
                        <p class="text-left">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto</p>
                        <span class="text-right">@omers</span>
                    </div>
                </div>
                <div class="item">
                    <div class="user-picture">
                        <div class="testimonial-quotes">
                            <img src="../images/dist/testimonial-quotes.png">
                        </div>
                        <img src="http://lorempixel.com/250/250/animals" class="img-circle">
                    </div>
                    <div class="carousel-caption">
                        <p class="text-left">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto</p>
                        <span class="text-right">@georch</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- #testimonials -->

<div id="contact" class="container">
    <br>
    <br>
    <form role="form">
        <div class="form-group">
            <input type="text" class="form-control" id="contactname" placeholder="Name">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" id="contactmail" placeholder="E-Mail">
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="text-center"><button type="submit" class="btn btn-default blue-button">Contact Us</button></div>
    </form>
    <br>
    <br>
</div><!-- #contact -->
