<footer>
    <div class="container">
        <br>
        <div id="footer-mesage" class="text-center">
            <p>It is an initiative to build a final product for the community by the community. A Drupal Distribution using Backbone.js to resolve a very specific problem: access to knowledge.</p>
        </div>
        <div class="row">
            <div id="newsletter" class="col-md-6">
                <h3>Newsletter</h3>
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <input type="email" class="form-control" id="newslettermail" placeholder="E-mail">
                    </div>
                    <button type="submit" class="btn btn-default blue-button">Suscribe</button>
                </form>
                <br>
            </div>
            <div class="col-md-6">
                <div class="navbar-social text-right">
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a target="_blank" href="#">
                                <i class="fa fa-twitter fa-4x"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="#">
                                <i class="fa fa-google fa-4x"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="#">
                                <i class="fa fa-facebook fa-4x"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="#">
                                <i class="fa fa-github fa-4x"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="#">
                                <i class="fa fa-rss fa-4x"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer><!-- footer -->
